@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Roboto가 로드되지 않으면 기본 sans-serif 사용 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.head-container {
    height: 36px;
    max-width: 1200px;
    margin: 0 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4e7300;
    text-decoration: none; /* 밑줄 제거 */
    flex-shrink: 0;
    padding-right: 50px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav ul li {
    position: relative;
    font-size: 16px;
    width: 130px;
}

nav ul li a {
    text-decoration: none;
    color: #666;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4e7300;
}

.dropdown-menu {
	--bs-dropdown-min-width: 7rem !important;
    --bs-dropdown-padding-x: 10px !important;
    --bs-dropdown-margin-x: 10px !important;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: max-content;
    padding: 5px 0;
}

.dropdown-menu li {
    padding: 5px 0;
}

.dropdown-menu li a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    white-space: nowrap;
    padding: 5px 10px;
}

.dropdown-menu li a:hover {
    background-color: #e0e0e0;
}

nav ul li:hover .dropdown-menu {
    display: block;
}

/* 버튼들을 감싸는 부모 컨테이너 */
.button-container {
    display: flex; /* 버튼을 가로로 배치 */
    gap: 10px; /* 버튼 사이 간격 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* 개별 버튼 스타일 */
.btn {
    display: inline-flex; /* 버튼이 가로로 나란히 정렬되도록 설정 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center; /* 텍스트 정렬 */
    width: 80px; /* 버튼 너비 */
    height: 30px; /* 버튼 높이 */
    font-weight: bold; /* 글자 두께 */
    border: none; /* 테두리 제거 */
    border-radius: 8px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 포인터 변경 */
    font-size: 14px;
    text-decoration: none; /* 밑줄 제거 */
    padding: 0 !important;
}

/* 초록색 버튼 스타일 */
.btn.btn-green {
    background-color: #4e7300;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* 초록색 버튼 호버 효과 */
.btn.btn-green:hover {
    background-color: #3b5a00;
}

/* 검은색 버튼 스타일 */
.btn.btn-black {
    background-color: black;
    color: white;
}

/* 검은색 버튼 호버 효과 */
.btn.btn-black:hover {
    background-color: #333;
}
