<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="signup" parameterType="member" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO Users (email, password, username, phone, age, gender)
		VALUES (#{email}, #{password}, #{username}, #{phone}, #{age}, #{gender})
	</insert>

	<select id="login" parameterType="member" resultType="member">
		SELECT * FROM Users WHERE email=#{email} AND password=#{password}
	</select>

	<select id="findAll" resultType="member">
		SELECT * FROM Users
	</select>

	<select id="findById" parameterType="Long" resultType="member">
		SELECT * FROM Users WHERE id=#{id}
	</select>

	<delete id="delete" parameterType="Long">
		DELETE FROM Users WHERE id=#{id}
	</delete>

	<select id="findByMemberEmail" parameterType="String"
		resultType="member">
		SELECT id, email, password, username, age, phone, gender
		FROM Users WHERE email=#{loginEmail}
	</select>

	<update id="update" parameterType="member">
		UPDATE Users SET phone=#{phone}, age=#{age} 
		WHERE id = #{id}
	</update>

</mapper>